objects/forest0.obj
textures/forest0.tex
objects/kingdoms.obj
textures/kingdoms.tex
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
.settings/language.settings.xml
main.exe
objects/sponza.blend
objects/sponza.blend1
objects/sponza.mtl
objects/sponza.obj
objects/sponza_stripped.blend
/textures/sponza
objects/sponza_stripped.obj
objects/sponza_stripped.mtl
