objects/forest0.obj
objects/kingdoms.obj
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
main.exe
objects/sponza.obj
objects/sponza.mtl
objects/sponza_stripped.obj
objects/sponza_stripped.mtl
textures/sponza
